body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 0;
}
.menu-bar{
    display: flex;
}
.logo{
    width: 50%;
    margin-left: 5%;
}
.logo img{
    width: 14%;
}
.menu{

    width: 50%;
    text-align: center;
    margin-top: 2%;
    
}
.menu a{
    text-decoration: none;
    font-weight: bold;
    line-height: 130%;
}
.btn-menu{
    background-color: white;
    color: #fc4f31;
    padding: 3% 5%;
    border-radius: 20px; 
}
.btn-menu:hover{
    color: white;
    background-color: #fc4f31;
}
.container{
    display: flex;
}
.half-width{
    width: 40%;
    margin: 5%;
}
.half-width img{
    width: 88%;
}
.color-orange{
    color: #FBA24F;
}
.half-width h1{
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 130%;
    color: #575757;
     
}
section .half-width p{
   
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #828282;

}
.gradient-button{
    text-decoration: none;
    padding: 22.5px 43px;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    color: white;
    border-radius: 100px;
}

.title{
    font-weight: 700;
    line-height: 54px;
    font-size: 40px;
    color: #707070;
}
.full-container{
    display: flex;
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
    
}
.half-size{
    width: 50%;
}

.half-size img{
    width: 42%;
    margin-left: 40%;
    margin-top: 2%;
}



.title-caption{
    display: block;
    text-align: center;
    margin: 5% 25%;
}

.title-caption p{
    margin-top: 30px;
    color: #252525;
    font-size: 18px;
    line-height: 25px;
      
}
.card-container{
    display: flex;
    margin: 0% 5%;
}
.card{
    width: 26%;
    margin-left: 5%;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}
.card img{
    width: 90%;

}
.box-container{
    display: flex;
    margin: 10% 5%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}
.box{
    width: 26%;
    margin:2% 0%;
    padding: 2%;
}
footer{
    background-color: black;
    text-align: center;
    padding: 2% 0% 8% 0%;
}
footer h2{
    color: #5B5B5B;
}
footer p{
    color: white;
}